<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - bitstorm.org</title>
    <link rel="stylesheet" href="/assets/style.css" title="Main style">
    <link rel="stylesheet" href="/assets/prism-coldark-cold.css">
</head>
<body>

<header>
    <div class="page-width">
        <div class="text">
            <h1 class="title">bitstorm.org</h1>
            <h2 class="subtitle">Weblog of Edwin Martin, webdeveloper</h2>
        </div>
    </div>
</header>


<main class="page-width">
    <h3>{{ title }}</h3>

    <p class="datum">{% readable-date date %}</p>

    {{ content }}

</main>


</body>
</html>