---
title: Archive
layout: page
permalink: /weblog/archive.html
eleventyExcludeFromCollections: true
---

<main>
        {%- for weblog in collections.weblogByMonth reversed -%}
            <h4>{{ weblog.key }}</h4>
            <ul>
            {%- for item in weblog -%}
                <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
            {%- endfor -%}
            </ul>
        {%- endfor -%}

</main>

