---
title: Blog archive
layout: page
permalink: /weblog/archive.html
eleventyExcludeFromCollections: true
---

<section class="archive">
    {%- for weblog in collections.weblogByMonth reversed -%}
        <h3>{{ weblog.key }}</h3>
        <ul>
        {%- for item in weblog -%}
            <li class="links"><a href="{{ item.url }}">{{ item.data.title }}</a></li>
        {%- endfor -%}
        </ul>
    {%- endfor -%}
</section>

