---
title: Surf Edwin Martins Brainwaves
layout: page
permalink: /edwin/index.html
eleventyExcludeFromCollections: true
description: Personal page of Edwin Martin
---

I live in Hilversum, 30 minutes east from Amsterdam, where I was born and raised.
There, I live with my wife <a href="https://jolie.nl/">Jolie</a>
and my daughter Rosalie. My son Lexander already moved out.

After 24 years of freelancing, I now work at <a href="https://speerit.nl/">Speer IT</a>,
working on fiber optics registration and asset management software.




