---
title: Edwin Martins weblog
layout: page
permalink: /index.html
eleventyExcludeFromCollections: true
description: Edwin Martin about frontend webdevelopment
---

{% assign lastTen = collections.weblog | reverse | limit:10 %}

{%- for post in lastTen-%}
    <a href="{{ post.url }}">
        <article class="home-article">
            <time class="date home-date" datetime="{{ post.data.date }}">{% readable-date post.data.date %}</time>

            <h3 class="links">{{ post.data.title }}</h3>

            <p class="intro">{{ post.content | strip_html | truncate: 500, "…" }}</p>
        </article>
    </a>
{%- endfor -%}


