---
title: Homepage
layout: page
permalink: /index.html
eleventyExcludeFromCollections: true
---


    {% assign lastTen = collections.weblog | reverse | limit:10 %}

    {%- for post in lastTen-%}
        <h4><a href="{{ post.url }}">{{ post.data.title }}</a></h4>

        <p class="datum">{% readable-date post.data.date %}</p>

        {{ post.content | strip_html | truncate: 500, "…" }}
    {%- endfor -%}


