---json
{
    "permalink": "weblog/rss.xml",
    "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ global.title }}</title>
        <link>{{ global.url }}</link>
        <atom:link href="{{ permalink | absoluteUrl(global.url) }}" rel="self" type="application/rss+xml" />
        <description>{{ global.description }}</description>
        <language>{{ global.language }}</language>
        {%- for post in collections.weblog | reverse | limit(20) %}
            {%- set absolutePostUrl = post.url | absoluteUrl(global.url) %}
            <item>
                <title>{{ post.data.title }}</title>
                <link>{{ absolutePostUrl }}</link>
                <description>{{ post.templateContent | striptags(true) | truncate(300, false, "…") }}</description>
                {% if post.data.media.length > 0 %}
                {% rssimage post.page.url, post.data.media[0].image %}
                {% endif %}
                <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
                <dc:creator>{{ global.author.name }}</dc:creator>
                <guid>{{ absolutePostUrl }}</guid>
            </item>
        {%- endfor %}
    </channel>
</rss>