---
layout: page
permalink: /weblog/index.html
eleventyExcludeFromCollections: true
description: Weblog by Edwin Martin
---

{% assign lastTen = collections.weblog | reverse | limit:10 %}

{%- for post in lastTen-%}
        <article class="home-article">
                <time class="date home-date" datetime="{{ post.data.date }}">{% readable-date post.data.date %}</time>

                <h3 class="links"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>

                <p class="intro">{{ post.content | strip_html | truncate: 500, "…" }}</p>
        </article>
{%- endfor -%}

