body {
	background-color: white;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
div.small {
	font-size: 80%;
}
div.image {
	float: right;
	text-align: center;
	margin-left: 1em;
}
div.image p {
	font-size: small;
	margin: 0;
	background-color: #D3D3D3;
}


/* Comments */
div.comments {
	max-width: 700px;
	font-size: smaller;
}

div.comments p {
	margin: 0;
	padding: 0;
}
div.comments h2 {
	font-size: larger;
	margin-top: 40px;
}
div.comments ol {
	margin: 0;
	padding: 0;
}
div.comments a {
	text-decoration: underline;
	cursor: pointer;
	color: #444;
}

div.comments ol li {
	margin: 0;
	padding: 4px 7px;
	margin: 7px 0;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f9f9f9;
	list-style: none;
}

div.comments ol li p.name {
	float: left;
	font-weight: bold;
	padding-left: 27px;
	background: url(/journaal/talk.png) no-repeat 0 3px;
	height: 17px;
}
div.comments ol li p.name {
	float: left;
	color: #666;
	font-weight: bold;
}
div.comments ol li a.date {
	float: right;
	color: #777;
	text-decoration: none;
}
div.comments ol li p.comment {
	clear: both;
	padding: 4px 0 8px 0;
}
div.comments ol li a.more {
	display: block;
	margin-top: 5px;
	font-weight: bold;
}

div.comments form {
	margin: 0;
	padding: 7px;
	margin: 15px 0;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f9f9f9;
}

div.comments form p {
	margin-bottom: 8px;
}
div.comments form p.mesg {
	clear: both;
	margin: 10px 0 0 0;
}
div.comments form label {
	width: 120px;
	display: block;
	float: left;
	clear: both;
	margin-top: 10px;
}

div.comments form input {
	float: left;
	width: 370px;
	margin-top: 10px;
}

div.comments form textarea {
	width: 490px;
	height: 100px;
	margin-top: 10px;
}

div.comments form input[type=submit] {
	float: none;
	margin-left: 370px;
	width: 120px;
}
.template {
	display: none;
}

div.comments form {
	display: none;
}

div.comments.ajax form {
	padding-left: 70px;
	display: block;
}
